<!DOCTYPE html>
<html>

<head>
    <title>Contact Us</title>
</head>

<body>
    <h1 class="text-center">Contact Us</h1>
    <div class="container" style="background-image: url('/wwwroot/images/BackgroundCropped.PNG');">
        
    </div>



</body>

</html>