<!DOCTYPE html>
<html>

<head>
    <title>Dell Technologies Presales Program</title>
</head>

<body>
    @*Container to hold background image and 2 buttons*@
    <div class="container1" id="background-width">
        <img src="~/images/Bg1.png">
        <div class="btn-group-lg">
            <a asp-action="InternshipProgram" class="btn btn-secondary">Internship Program</a>
            <a asp-action="PresalesAcademy" class="btn btn-secondary">Presales Academy</a>
        </div> 
    </div><br />

    @*Question 1 - all text*@
    <h4 class="text-midnight text-center"><strong>What is Presales Systems Engineering?</strong></h4>
    <p class="text-center">
        At Dell Technologies, presales systems engineers are the people who provide both business knowledge and technical
        skills to implement technical strategies, evaluate products, and design solutions to best serve client's needs.
        Systems engineers work closely with other specialists as well as a sales agent to support customers. The term Systems Engineering
        is interchangeable with Presales, and you may also hear SEs  called Sales Engineers or Solutions Architects.
    </p> <br />

    @*Question 2 - Cards with videos*@
    <h4 class="text-midnight text-center"><strong>What are the top skills needed by Systems Engineers?</strong></h4>
    <p>
        @*Cards for Strengths of SEs*@
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm d-flex justify-content-center">
                    <div class="card" style="width: 20rem;>
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dell">Customer-First Attitude</h5>
                            <p class="card-text">
                                Systems Engineers must always think from the perspective of their customers and care about providing the best solutions possible.
                            </p>
                            <iframe width="250"
                                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <div class="card" style="width: 20rem;>
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dell">Intellectual Curiosity</h5>
                            <p class="card-text">
                                It is important for Systems Engineers to keep up with the trends of technology
                                and continuously prioritize learning and growth.
                            </p>
                            <iframe width="250"
                                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <div class="card" style="width: 20rem;>
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dell">Ability to Listen</h5>
                            <p class="card-text">
                                Some of the best Systems Engineers are the ones who are able to fully listen to the needs of their customers rather than monopolozing the conversation.
                            </p>
                            <iframe width="250"
                                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <div class="card" style="width: 20rem;>
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dell">Time Management</h5>
                            <p class="card-text">
                                Time management is not only important in terms of organizing one&#39;s own work, but
                                also in planning out meetings and respecting customers&#39; time.
                            </p>
                            <iframe width="250"
                                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <div class="card" style="width: 20rem;>
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dell">Problem Solving</h5>
                            <p class="card-text">Insert a short paragraph of text based on something from an SE about the importance of problem solving to be a Systems Engineer and how it helps them.</p>
                            <iframe width="250"
                                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                            </iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
    </p> <br />

    @*Question 3 - all text*@
    <h4 class="text-midnight text-center"><strong>What is the difference between the Presales Academy and the Presales Internship at Dell Technologies?</strong></h4>
    <p class="text-center">
        The Presales Academy is a year-long training course for Dell new-hires who are entering the Systems Engineering role.
        The Presales Internship is an eight-week summer program for undergraduate students who are interested in exploring the career of a Systems Engineer.
        To learn more about these programs, please navigate to the respective pages.
    </p> <br />

    @*Question 4 - list*@
    <h4 class="text-midnight text-center"><strong>What makes a career in Presales so amazing?</strong></h4>
    <p>
      1) Dynamic Day-to-Day <br />
      2) Compensation <br />
      3) You Become a Very Important Person <br />
      4) The Future of Presales Is Only Getting Better <br />
      5) Opportunities to Help Customers in Creative Ways <br />
    </p> <br />
    </div>

</body>








</html>
