<!DOCTYPE html>
<html>

<head>
    <title>Dell Technologies Presales Program</title>
</head>

<body>
    

    @*<img src="~/images/BGA.png" id="background-width"><br />*@

    @*Container to hold background image and 2 buttons*@
    <div class="container2" id="background-width">
        

        <img src="~/images/BackgroundCropped.PNG">
        @*Breadcrumb*@
        <div class="breadcrumb-alignment">
            <ol class="breadcrumb" style="padding-left:25px;">
                <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Internship Program</li>
            </ol>
        </div>

    <div class="header-title">
        <h7>Presales Internship<br /> Program</h7>
    </div>

        <div class="btn-group-lg" align="center">
            <a asp-action="InternTestimonials" class="btn btn-secondary">Intern Testimonials</a>
            <a asp-action="Projects" class="btn btn-secondary">Past Projects</a>
            <a asp-action="InternshipHighlights" class="btn btn-secondary">Internship Highlights</a>
        </div>
    </div><br />
    @*Breadcrumb*@
    @*<ol class="breadcrumb" style="padding-left:25px;">
        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Internship Program</li>
    </ol>*@

    <h4 class="text-midnight text-center">About the Internship Program</h4>
    <p class="text-center">
        Presales interns get the opportunity to work on real-world projects, prepare and give presentations to other Dell employees, potentially
        get certified in Information Storage and Management, increase their technical understanding related to systems engineering, participate in
        a hack-a-thon, and more! Mentorship is also a big part of the internship program, as each intern is given several mentors to guide them
        through their internship experience and even provide ride-along opportunities to sit in on real client and team meetings.
    </p>

    <br />
  



</body>
</html>