<!DOCTYPE html>
<html>

<head>
    <title>Intern Testimonials</title>
</head>

<body>
    @*Breadcrumbs*@
    <ol class="breadcrumb"style="padding-left:25px;">
        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="InternshipProgram">Internship Program</a></li>
        <li class="breadcrumb-item active">Intern Testimonials</li>
    </ol>

    <h1 class="text-center">Presales Intern Testimonials</h1>
    <br />
    <h3 class="text-center text-midnight">Learn more about the Presales Internship Program from a few of the interns themselves!</h3><br /><br />

    <h3 class="text-dell">Melanie Milligan</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">Major:</strong> Management Information Systems</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Other Coursework:</strong> Applied Statistical Modeling, Core Texts and Ideas</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University:</strong> The University of Texas at Austin</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Internship:</strong> Mentorship opportunities at Dell and making this website!</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Everyone is <em>so</em> willing to talk to you, mentor you, and make time to help you when you need it.</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">What skills have you learned during this internship?</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">ABC</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">GHI:</strong> ghi</p>
    </div><br />

    <h3 class="text-dell">Robin Batsuli</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">Major:</strong> Management Information Systems</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Other Coursework:</strong> Applied Statistical Modeling, Core Texts and Ideas</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University:</strong> The University of Texas at Austin</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Internship:</strong> Mentorship opportunities at Dell and making this website!</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Everyone is <em>so</em> willing to talk to you, mentor you, and make time to help you when you need it.</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">ABC:</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">GHI:</strong> ghi</p>
    </div><br />


    <h3 class="text-dell">Alfre Itua</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">Major:</strong> Management Information Systems</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Other Coursework:</strong> Applied Statistical Modeling, Core Texts and Ideas</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University:</strong> The University of Texas at Austin</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Internship:</strong> Mentorship opportunities at Dell and making this website!</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Everyone is <em>so</em> willing to talk to you, mentor you, and make time to help you when you need it.</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">ABC:</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">GHI:</strong> ghi</p>
    </div><br />

    <h3 class="text-dell">Gabriel Fula</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">Major:</strong> Management Information Systems</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Other Coursework:</strong> Applied Statistical Modeling, Core Texts and Ideas</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University:</strong> The University of Texas at Austin</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Internship:</strong> Mentorship opportunities at Dell and making this website!</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Everyone is <em>so</em> willing to talk to you, mentor you, and make time to help you when you need it.</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">ABC:</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">GHI:</strong> ghi</p>
    </div><br />

    <h3 class="text-dell">Alexis Tekin</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">Major:</strong> Management Information Systems</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Other Coursework:</strong> Applied Statistical Modeling, Core Texts and Ideas</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University:</strong> The University of Texas at Austin</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Internship:</strong> Mentorship opportunities at Dell and making this website!</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Everyone is <em>so</em> willing to talk to you, mentor you, and make time to help you when you need it.</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">ABC:</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">GHI:</strong> ghi</p>
    </div><br />

    <h3 class="text-dell">Nate Battle</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">Major:</strong> Management Information Systems</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Other Coursework:</strong> Applied Statistical Modeling, Core Texts and Ideas</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University:</strong> The University of Texas at Austin</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Internship:</strong> Mentorship opportunities at Dell and making this website!</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Everyone is <em>so</em> willing to talk to you, mentor you, and make time to help you when you need it.</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">ABC:</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">GHI:</strong> ghi</p>
    </div><br />

</body>
</html>
