<!DOCTYPE html>
<html>

<head>
    <title>New Hire Testimonials</title>
</head>

<body>
    @*Breadcrumbs*@
    <ol class="breadcrumb" style="padding-left:25px;">
        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="PresalesAcademy">Presales Academy</a></li>
        <li class="breadcrumb-item active">New Hire Testimonials</li>
    </ol>

    <h1 class="text-center">New Hire Testimonials</h1>
    <br />
    <h3 class="text-center text-midnight">Learn more about what it&#39;s like being in the Presales Academy from some recent new hires! </h3><br /><br />

    <h3 class="text-dell">Helen O&#39;Sullivan</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">College Major:</strong> Insert College Major</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University Attended:</strong> Insert University</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Academy:</strong> Insert favorite thing</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Insert favorite thing</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Did you do the Presales Internship?</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">What is something you think people should know about the Presales Academy?</strong> Insert advice</p>
    </div><br />

    <h3 class="text-dell">Person 2</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">College Major:</strong> Management Information Systems</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Other Coursework:</strong> Applied Statistical Modeling, Core Texts and Ideas</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University:</strong> The University of Texas at Austin</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Internship:</strong> Mentorship opportunities at Dell and making this website!</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Everyone is <em>so</em> willing to talk to you, mentor you, and make time to help you when you need it.</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">ABC:</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">GHI:</strong> ghi</p>
    </div><br />


    <h3 class="text-dell">Person 3</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">Major:</strong> Management Information Systems</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Other Coursework:</strong> Applied Statistical Modeling, Core Texts and Ideas</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University:</strong> The University of Texas at Austin</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Internship:</strong> Mentorship opportunities at Dell and making this website!</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Everyone is <em>so</em> willing to talk to you, mentor you, and make time to help you when you need it.</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">ABC:</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">GHI:</strong> ghi</p>
    </div><br />

    <h3 class="text-dell">Person 4</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">Major:</strong> Management Information Systems</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Other Coursework:</strong> Applied Statistical Modeling, Core Texts and Ideas</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University:</strong> The University of Texas at Austin</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Internship:</strong> Mentorship opportunities at Dell and making this website!</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Everyone is <em>so</em> willing to talk to you, mentor you, and make time to help you when you need it.</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">ABC:</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">GHI:</strong> ghi</p>
    </div><br />

    <h3 class="text-dell">Person 5</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">Major:</strong> Management Information Systems</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Other Coursework:</strong> Applied Statistical Modeling, Core Texts and Ideas</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University:</strong> The University of Texas at Austin</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Internship:</strong> Mentorship opportunities at Dell and making this website!</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Everyone is <em>so</em> willing to talk to you, mentor you, and make time to help you when you need it.</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">ABC:</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">GHI:</strong> ghi</p>
    </div><br />

    <h3 class="text-dell">Person 6</h3>
    <div style="padding-left: 25px;">
        <iframe height="300" width="500" align="left"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <p style="position:relative; left:10px;"><strong class="text-dell">Major:</strong> Management Information Systems</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Other Coursework:</strong> Applied Statistical Modeling, Core Texts and Ideas</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">University:</strong> The University of Texas at Austin</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Part of the Internship:</strong> Mentorship opportunities at Dell and making this website!</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">Favorite Aspect of Working at Dell:</strong> Everyone is <em>so</em> willing to talk to you, mentor you, and make time to help you when you need it.</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">ABC:</strong> abc</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">DEF:</strong> def</p>
        <p style="position:relative; left:10px;"><strong class="text-dell">GHI:</strong> ghi</p>
    </div><br />

</body>
</html>
