@*Container to hold background image and 2 buttons*@
<div class="container2" id="background-width">
    <img src="~/images/bga.png">
    <div class="btn-group-lg" align="center">
        <a asp-action="NewHireTestimonials" class="btn btn-secondary">New-Hire Testimonials</a>
        <a asp-action="Learning" class="btn btn-secondary">Day-to-Day Learning</a>
        <a asp-action="RoleProgression" class="btn btn-secondary">Role Progression</a>
    </div>
</div>
<br />

<h4 class="text-midnight text-center">About the Presales Academy</h4>
<p class="text-center">
    The Presales Academy is an in-depth training program that builds the foundation to be a up and coming Systems Engineer. 
    During the academy, the training is focused around Dell EMC's storage solutions starting out with higher-level topics 
    then diving deeper into individual product training as the academy progresses. Mock customer scenarios and case studies 
    help prepare the future Systems Engineers to work effectively as a team to find the best solution for clients.
</p>