<h1 class="text-center">Role Progression in Presales Academy</h1>

<br /><img src="~/images/RoleProgression.jpg" class="center" />
<p class="text-center">TO DO: Figure out to get higher resolution version of this image or create my own</p>